body {
    font-family: "source", sans-serif;
    position: fixed;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 100%;
    background-color: transparent;


    .nav-bar {
        width: 100%;
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
    }
}

.banner {
    background-image: url(./images/banner_bw.png);
    /* filter: grayscale(100%); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #FFFFFF;

}

.banner-block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #FFFFFF;
        font-size: 120px;
        margin-top: 120px;
        margin-bottom: 0px;
    }

    p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
    }

    button {
        background-color: #C271FF;
        width: 162px;
        height: 44px;
        border-radius: 22px;
        border-width: 0px;
        color: #FFFFFF;
        font-size: 14px;
        font-family: "source", sans-serif;
        /* -moz-box-shadow: 0 0 10px #000;
        -webkit-box-shadow: 0 0 10px #000; */
        box-shadow: 0 0 10px #000;
    }
}

.banner-block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    width: 80%;
    margin: 30px;
    
    .team-class {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .team-member {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            line-height: 0.1;

            h3 {
                size: 18px;
            }

            P {
                size: 16px;
                font-weight: lighter;
            }

            img {
                width: 80%;
                height: 80%;
                border-radius: 50%;
                margin: 10px;
            }
        }
        
    }

}




